<% unless signed_in? %>
  <h2>Sign in first to explore the provider's API</h2>

  <p>
    <%= link_to "Sign in with OAuth 2 provider", @doorkeeper_oauth_client.auth_code.authorize_url(redirect_uri: ENV['DOORKEEPER_APP_REDIRECT_CALLBACK']), class: "btn btn-primary" %>
  </p>
<% else %>
  <h2>Explore the api</h2>

  <p>
    <%= link_to "My Credentials", explore_api_path(:me, format: :json), class: "btn btn-primary data-explore" %>
    <%= link_to "Projects", explore_api_path(:projects, format: :json), class: "btn btn-secondary data-explore" %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
  </p>

  <p>You are logged in as <%= current_user.email %></p>

  <p><pre id="display-json">Select one of the api methods above</pre></p>
<% end %>
